In [1]:
import os 
import pandas as pd
from experiments import *

In [2]:
DATA_DIR= "../../data/"
os.environ['fairness_data'] = DATA_DIR
os.environ['results_dir'] = ""

In [3]:
data_dir = os.path.join(DATA_DIR, "ipums")
train = pd.read_pickle(os.path.join(data_dir, 'small_train'))
test = pd.read_pickle(os.path.join(data_dir, 'small_test'))

In [4]:
train.head()

,BIRTHYR,YRIMMIG,HEALTH_LABEL,INCOME_LABEL,INCWELFR,INCINVST,POVERTY,MARRNO_Married once,MARRNO_Married thrice (or more),MARRNO_Married twice (or more),...,DEGFIELD_N/A,"DEGFIELD_Nuclear, Industrial Radiology, and Biological Technologies",DEGFIELD_Philosophy and Religious Studies,"DEGFIELD_Physical Fitness, Parks, Recreation, and Leisure",DEGFIELD_Physical Sciences,DEGFIELD_Psychology,"DEGFIELD_Public Affairs, Policy, and Social Work",DEGFIELD_Social Sciences,DEGFIELD_Theology and Religious Vocations,DEGFIELD_Transportation Sciences and Technologies
911979,2006,0000,True,True,99999,999999,501,0,0,0,...,1,0,0,0,0,0,0,0,0,0
443281,1938,1980,False,False,00000,000000,297,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2099469,1933,0000,True,True,00000,001700,420,1,0,0,...,0,0,0,0,0,0,0,0,0,0
401666,1950,1965,False,False,00000,000000,125,1,0,0,...,1,0,0,0,0,0,0,0,0,0
739538,2012,0000,False,True,99999,999999,111,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
from experiments.data_utils import *

In [6]:
c = get_protected_attributes('ipums-small', list(train.columns), label = 'INCOME_LABEL', train = train, test = test)

  8%|▊         | 48/614 [00:00<00:01, 290.80it/s]

race_Asian Indian (Hindu 1920_1940): 1272 Pos. (Train) 150 Pos (Test)
race_Black/African American/Negro: 7816 Pos. (Train) 905 Pos (Test)
race_Cherokee: 84 Pos. (Train) 11 Pos (Test)
race_Chinese: 1265 Pos. (Train) 132 Pos (Test)
race_Filipino: 840 Pos. (Train) 102 Pos (Test)

 16%|█▌        | 97/614 [00:00<00:02, 230.59it/s]

race_Japanese: 275 Pos. (Train) 36 Pos (Test)
race_Korean: 376 Pos. (Train) 39 Pos (Test)
race_Navajo: 122 Pos. (Train) 17 Pos (Test)
race_Other Asian, n.e.c.: 45 Pos. (Train) 11 Pos (Test)
race_Other race, n.e.c.: 3150 Pos. (Train) 337 Pos (Test)
race_Pakistani: 105 Pos. (Train) 13 Pos (Test)
race_Tribe not specified: 111 Pos. (Train) 13 Pos (Test)
race_Vietnamese: 434 Pos. (Train) 53 Pos (Test)

 22%|██▏       | 138/614 [00:01<00:04, 103.24it/s]

race_White: 75630 Pos. (Train) 8382 Pos (Test)
race_White and AIAN: 585 Pos. (Train) 45 Pos (Test)
race_White and Black: 835 Pos. (Train) 97 Pos (Test)
race_White and Chinese: 126 Pos. (Train) 12 Pos (Test)
race_White and Filipino: 186 Pos. (Train) 24 Pos (Test)
race_White and other Asian race(s): 138 Pos. (Train) 15 Pos (Test)
race_White and other race write_in: 275 Pos. (Train) 44 Pos (Test)

 26%|██▌       | 157/614 [00:01<00:04, 112.57it/s]

age_0: 17928 Pos. (Train) 2061 Pos (Test)
age_1: 11163 Pos. (Train) 1250 Pos (Test)
age_2: 6467 Pos. (Train) 687 Pos (Test)
age_3: 12268 Pos. (Train) 1341 Pos (Test)
age_4: 13046 Pos. (Train) 1473 Pos (Test)
age_5: 14824 Pos. (Train) 1619 Pos (Test)
age_6: 12047 Pos. (Train) 1311 Pos (Test)
age_7: 5848 Pos. (Train) 679 Pos (Test)
age_8: 2065 Pos. (Train) 222 Pos (Test)
age_9: 380 Pos. (Train) 43 Pos (Test)
gender_Female: 41808 Pos. (Train) 4757 Pos (Test)

100%|██████████| 614/614 [00:02<00:00, 229.93it/s]

gender_Male: 54228 Pos. (Train) 5929 Pos (Test)

In [8]:
len(c)

32