In [1]:
import os 
import pandas as pd
from experiments import *

In [2]:
DATA_DIR= "../../data/"
os.environ['fairness_data'] = DATA_DIR
os.environ['results_dir'] = ""

In [3]:
data_dir = os.path.join(DATA_DIR, "ipums")
train = pd.read_pickle(os.path.join(data_dir, 'small_train'))
test = pd.read_pickle(os.path.join(data_dir, 'small_test'))

In [4]:
train.head()

,BIRTHYR,YRIMMIG,HEALTH_LABEL,INCOME_LABEL,INCWELFR,INCINVST,POVERTY,MARRNO_Married once,MARRNO_Married thrice (or more),MARRNO_Married twice (or more),...,DEGFIELD_N/A,"DEGFIELD_Nuclear, Industrial Radiology, and Biological Technologies",DEGFIELD_Philosophy and Religious Studies,"DEGFIELD_Physical Fitness, Parks, Recreation, and Leisure",DEGFIELD_Physical Sciences,DEGFIELD_Psychology,"DEGFIELD_Public Affairs, Policy, and Social Work",DEGFIELD_Social Sciences,DEGFIELD_Theology and Religious Vocations,DEGFIELD_Transportation Sciences and Technologies
911979,2006,0000,True,True,99999,999999,501,0,0,0,...,1,0,0,0,0,0,0,0,0,0
443281,1938,1980,False,False,00000,000000,297,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2099469,1933,0000,True,True,00000,001700,420,1,0,0,...,0,0,0,0,0,0,0,0,0,0
401666,1950,1965,False,False,00000,000000,125,1,0,0,...,1,0,0,0,0,0,0,0,0,0
739538,2012,0000,False,True,99999,999999,111,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
from experiments.data_utils import *

In [6]:
get_protected_attributes('ipums-small', list(train.columns), label = 'INCOME_LABEL', train = train, test = test)

100%|██████████| 614/614 [00:03<00:00, 171.26it/s]

['race_2+ Amer. Indian tribes (2000,ACS)',
 'race_AIAN and other race write_in',
 'race_Apache',
 'race_Asian (Chinese, Japanese, Korean, Vietnamese); and Native Hawaiian or PI; and Other',
 'race_Asian Indian (Hindu 1920_1940)',
 'race_Asian Indian and Asian write_in',
 'race_Asian write_in and other race write_in',
 'race_Asian, PI, other race write_in',
 'race_Bangladeshi',
 'race_Black and AIAN',
 'race_Black and Filipino',
 'race_Black and other race write_in',
 'race_Black/African American/Negro',
 'race_Burmese',
 'race_Cambodian',
 'race_Cherokee',
 'race_Chinese',
 'race_Chinese and Asian write_in',
 'race_Chinese and Filipino',
 'race_Chinese and Vietnamese',
 'race_Chippewa',
 'race_Choctaw',
 'race_Creek',
 'race_Fijian',
 'race_Filipino',
 'race_Filipino and PI write_in',
 'race_Filipino and other race write_in',
 'race_Guamanian/Chamorro',
 'race_Hawaiian',
 'race_Hmong',
 'race_Indonesian',
 'race_Inupiat',
 'race_Iroquois',
 'race_Japanese',
 'race_Korean',
 'race_Laotian',
 'race_Lumbee',
 'race_Mexican American Indian',
 'race_Navajo',
 'race_Nepalese',
 'race_Other Amer. Indian tribe (2000,ACS)',
 'race_Other Asian, n.e.c.',
 'race_Other race, n.e.c.',
 'race_Pacific Islander, n.s.',
 'race_Pakistani',
 'race_Pueblo',
 'race_Samoan',
 'race_Sioux',
 'race_Taiwanese',
 'race_Thai',
 'race_Tribe not specified',
 'race_Two specified Asian (Chinese and other Asian, Chinese and Japanese, Japanese and other Asian, Korean and other Asian); Native Hawaiian/PI; and Other Race',
 'race_Vietnamese',
 'race_White',
 'race_White and AIAN',
 'race_White and Asian Indian',
 'race_White and Black',
 'race_White and Chinese',
 'race_White and Filipino',
 'race_White and Guamanian',
 'race_White and Japanese',
 'race_White and Korean',
 'race_White and Native Hawaiian',
 'race_White and Vietnamese',
 'race_White and other Asian race(s)',
 'race_White and other race write_in',
 'race_White, Asian, PI, other race write_in',
 'race_White, Black, AIAN',
 'race_White, Black, AIAN, Asian, PI, other race write_in',
 'race_White, Black, Asian',
 'race_White, Black, Asian, PI, other race write_in',
 'race_White, Black, and Filipino',
 'race_White, Black, other race write_in',
 'race_White, Chinese, Hawaiian',
 'race_White, PI, other race write_in',
 "race_Yup'ik",
 'age_0',
 'age_1',
 'age_2',
 'age_3',
 'age_4',
 'age_5',
 'age_6',
 'age_7',
 'age_8',
 'age_9',
 'gender_Female',
 'gender_Male']